

.input-login:focus{
    outline: none;
}
.input-login{
    background-color: #ff000000;
    border: 0;
    color: white;
    font-size: 18px;
    width: 100%;
    border-bottom: solid;
}
.input-login::placeholder {
    color:white;
   }
.button{
    width: 11%;
    background-color: transparent;
    border: none;
}
.chat{
    width: 100%;
    height: 289px;
    overflow:auto;
}
.chat::-webkit-scrollbar{
    width: 7px;
}
.chat::-webkit-scrollbar-thumb{
    background: #ffffffb0;
    border-radius: 8px;
}

.chat-online{
    background: linear-gradient(#3D3C7D,#7c7bb6e0);
    border: 1px solid;
    border-radius: 10px;
    box-shadow: 6px 6px 0px 1px #00000036;
}
.button-chat{
    margin-top: 5px !important;
    background-color: #1b621a !important;
    color: #fff !important;
    width: 100%;
}
.message{
    padding: 13px;
    background-color: #78E08E;
    border-radius: 20px;
    margin: 10px 10px 0px 10px;
    overflow-wrap: break-word;
    min-width: 5%;
    max-width: 62%;

}
.icono-message{
    border-radius: 100%;
    background-color: #FFFFFF;
    padding: 7px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.container-enviar{
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
    border-radius: 9px;
    background-color: #353A5A;
    height: 36px;
    align-items: center;
}
.input{
    background-color: transparent;
    width: 89%;
    padding-left: 10px;
    padding-right: 10px;
    height: 36px;
    color: #ffffff;
    border: 1px solid #000000;
    border-bottom: 0px;
    border-top: 0px;
    border-left: 0px;
}
.input::placeholder {
    color:white;
  }
.icono{
    color: #ffffff;
}
.container-cerrar{
    display: flex;
    justify-content: flex-end;
    padding: 11px;
}
.cerrar{
    border-radius: 100%;
    display: flex;
    background-color: #ffffff63;
}
.icono-cerrar{
    color: #ffffff;
    cursor: pointer;
}
.container-message{
    display: flex;
    justify-content: flex-end;
    padding: 9px;
    flex-direction: column;
}
.chat-labo{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.chat-prof{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
}
.message-prof{
    background-color: #82CCDD;
    margin: 10px 10px 0px 10px;
    padding: 13px;
    overflow-wrap: break-word;
    border-radius: 20px;
    min-width: 5%;
    max-width: 62%;
}