.container{
    background-image: 
    linear-gradient(
      rgba(4, 9, 28, 0.7),
      rgba(4, 9, 28, 0.7)
    ),
    url(../Image/fondo-login.png);
    height: 100vh;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-position: center;
}
*{
    margin: 0;
    padding: 0;
}
.container-login{
    display: flex;
    justify-content: center;
    padding-top: 100px;
    @media (max-width: 992px) {
        padding-top: 5px;
      }
}
.title-login{
    color: white;
    font-size: 50px;
}
.containter-form-login{
    padding: 121px 50px 15px;
}

.input-login:focus{
    outline: none;
}
.input-login{
    background-color: #ff000000;
    border: 0;
    color: white;
    font-size: 18px;
    width: 100%;
    border-bottom: solid;
    margin-top: 5vh !important;
}
.input-login::placeholder {
    color:white;
   }
.button-login{
    margin-top: 77px !important;
    background-color: #1b621a !important;
    color: #fff !important;
    width: 100%;
}
.container-input{
    margin: 120px 0px 47px;
}