@import "../../../globals.scss";

.not-found {
  display: flex;
  flex-direction: column;
  background-color: color("background-card");
  padding: $padding * 2;
  border-radius: $radius;
  color: color("text-primary");
  gap: 2em;
  box-sizing: border-box;
  margin: 80px 20px;

  h1 {
    font-size: 5em;
  }

  h2 {
    font-size: 2em;
  }

  a {
    text-decoration: none;
    border: solid 1px color("text-primary");
    border-radius: $radius;
    padding: $padding;
    text-transform: uppercase;
    color: #484648;
    display: flex;
    justify-content: center;
    width: 200px;
    align-self: center;
  }
}
