header {
    padding: 1em .5em 0;
    background-color: #1D2F58 !important;
    min-height: 97px !important;
}

.MuiToolbar-gutters {
    flex-direction: row !important;
    justify-content: space-between !important;
}

.user_name {
    color: white !important;
    padding: 10px 20px !important;
    border: white 2px solid !important;
    border-radius: 20% 20% / 60% !important;
    transition: transform 0.3s !important;
}

.user_name::after {
    margin: -10px 0 -10px .5vw;
   /*font-size: 25px;*/
    border-left: 7px solid transparent;
    border-top: 12px solid #fff;
    border-right: 7px solid transparent;
    transition: transform 0.1s !important;
    content: "";
} 
.user_name.flipped::after {
    transform: scaleY(-1) !important;
}


.user_name:hover {
    background:#2a4483 !important;
}

.nav-button {
    color: white !important;
}

.css-1lg7qpc {
    justify-content: center;
}

.css-18md96b-MuiButtonBase-root-MuiTab-root {
    padding: 0px 30px !important;
}

.css-1pt20bd {
    margin: 0px !important;
}

.css-ewljzv-MuiButtonBase-root-MuiTab-root.Mui-selected {
    border-bottom: 5px solid white;
}

.css-1gg7olp {
    justify-content: center !important;
}

.inactivo-label {
    text-align: center !important;
    font-size: 13px !important;
    position: relative !important;
    top: 12px;
}

.inactivo-check {
    margin: 0 auto !important;
    padding: 0px !important;
    position: relative !important;
    top: 2px;
}

.css-heg063-MuiTabs-flexContainer {
    justify-content: center !important;
}

.btn-filtrar {
    background-color: #223a71 !important;
    color: white !important;
    display: block !important;
    margin: 0 auto !important;
    letter-spacing: 4px !important;
    width: 200px;
    transition: 300ms;
}

.btn-filtrar:hover {
    background-color: #2b4d9b !important;
    font-weight: bold !important;
}


@media (width < 1200px){
    .css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input, 
    .css-iynj5c-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root, 
    .css-1x36n8,
    .css-dru9rs-MuiFormControl-root {
        width: 150px !important;
        min-width: 1px !important;
    }
}

@media (width > 835px){
    .btn-filtrar {
        display: none !important;
    }

}

@media (width < 835px){
    .filtros {
        display: none !important;
    }
    .mostrar {
        display: block !important;
        position: absolute;
        z-index: 100;

    }

    /* .css-19obuss-MuiGrid-root {
        margin-left: 0px !important;
        width: 80% !important;
        margin: 0 auto !important;
        padding: 20px !important;
        position: relative !important;
        bottom: 20px !important;
        z-index: 2 !important;
        background-color: rgb(255, 254, 254) !important;
        border-radius: 20px !important;
        box-shadow: 2px 2px 2px 0px rgba(143, 143, 143, 0.75);
        margin-top: 30px !important;
        margin-bottom: -303px !important;
    } */
}

@media (width < 768px){
    .logo {
        width: 350px;
    }
    .user_name {
        font-size: 0 !important;
        padding: 6px 15px !important;
        border-radius: 10px !important;
    }

    .user_name::after {
        font-size: 30px;
    }

    .css-ewljzv-MuiButtonBase-root-MuiTab-root {
        font-size: 13px !important;
    }
}

@media (width < 550px){
    .css-87adg5 {
        flex-direction: column !important;
        place-items: center !important;
        gap: 10px !important;
        padding: 8px 10px !important;
    }
    .css-1x36n8t {
        padding-right: 0px !important;
    }

    .css-19obuss-MuiGrid-root {
        margin-bottom: -423px !important;
    }
}

@media (width < 510px){
    .logo {
        width: 280px;
    }
    .user_name {
        padding: 4px 10px !important;
    }

    .user_name::after {
        font-size: 22px;
    }

    .css-ewljzv-MuiButtonBase-root-MuiTab-root {
        font-size: 0 !important;
        min-width: 1px !important;
    }

    .css-1gg7olp {
        border-top: 2px solid #223a71 !important;
    }

    .css-ewljzv-MuiButtonBase-root-MuiTab-root:nth-child(1)::after {
        content: "Ped";
        font-size: 15px !important;
    }

    .css-ewljzv-MuiButtonBase-root-MuiTab-root:nth-child(2)::after {
        content: "Equ";
        font-size: 15px !important;
    }

    .css-ewljzv-MuiButtonBase-root-MuiTab-root:nth-child(3)::after {
        content: "Mat";
        font-size: 15px !important;
    }

    .css-ewljzv-MuiButtonBase-root-MuiTab-root:nth-child(4)::after {
        content: "Rea";
        font-size: 15px !important;
    }

    .css-ewljzv-MuiButtonBase-root-MuiTab-root:nth-child(5)::after {
        content: "Usu";
        font-size: 15px !important;
    }

    .css-19obuss-MuiGrid-root {
        margin-bottom: -403px !important;
    }
}

@media (width < 400px){
    .logo {
        width: 230px;
    }
    .user_name {
        padding: 3px 6px !important;
    }

    .user_name::after {
        font-size: 18px;
    }

    .css-hyum1k-MuiToolbar-root {
        padding-left: 0px !important;
    }

    .css-ohltuk-MuiStack-root {
        width: 70px !important;
        margin: 0 auto !important;
        margin-top: 10px !important;
    }

    .css-ohltuk-MuiStack-root {
    }

    .css-k008qs {
        flex-direction: column !important;
    }
    .css-19obuss-MuiGrid-root {
        margin-bottom: -513px !important;
    }

    .css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input, 
    .css-iynj5c-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root, 
    .css-1x36n8,
    .css-dru9rs-MuiFormControl-root {
        min-width: 186px !important;
        margin: 0 auto !important;
    }
}
/* .test{
    primary: #1D2F58;
    secundary: #1B621A;
    error: #f11313;
    error-light: #f9200f;
    warning: #ff9800;
    info: #2196f3;
    success: #4caf50;
    divider: rgba(0,0,0,0.12);
 }      */